@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-input-placeholder {
    color: $color;
  }
}
@mixin fl($jc, $ai, $gap) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
}
@mixin cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
