$font-primary: "IBM Plex Sans", sans-serif;

$color-main: #ffffff;
$icon-color: #e5eaf1;

$black-1: #1b1d21;
$gray-1: #5f6164;
$gray-2: #a6a7b2;
$natural: #676a6f;
$natural-1: #f8f8f8;
$natural-2: #f0f3f6;
$natural-3: #e4e4e4;
$natural-4: #e4e4e4;

$primary: #6c5dd3;
$primary-shades-4: #a79ee5;
$neutral-1: #fcfcfc;

$bg-3: #373a43;

$pink-60: #ffd0e0;

$yl-2: #ffce73;

$gradient: linear-gradient(142deg, #415EF4 0%, #7141EF 100%);