extends ./views/layouts/dashboard.pug
include ./views/mixins/mixin.pug
append styleSheet 
  link(rel="stylesheet", href="./styles/home.css")
block tittle 
  title GoCast-UI - Homepage
block main
  .left 
    section.popular 
      h3.heading Popular Hosts
      .popular-hosts 
        each value in [{name: "Thomas", img: "./images/home/avata/1.png 2x"}, {name: "Darrell", img: "./images/home/avata/2.png"}, {name: "Arlene", img: "./images/home/avata/3.png"}, {name: "Kristin", img: "./images/home/avata/4.png"}, {name: "Courtney", img: "./images/home/avata/5.png"}, {name: "Cody", img: "./images/home/avata/6.png"}, {name: "Arlene", img: "./images/home/avata/7.png"}]
          +host(value.name, value.img)
    section.trending 
      h3.heading Trending
      .trending-banner
        h2.trending-banner-heading UX Design Process: Mental Modeling Framework.  
        .trending-banner-title 
          span Podcast Episode - 1
          span Thomas L. Fletcher ( Product Designer at UIHUT )
        button.trending-banner-button(type="button") 
          img(srcSet="./images/home/play-1.png 2x", alt="icon")
          span Play Now
        img.trending-img(srcSet="./images/home/image.png 2x", alt="casi")
      img.trending-group(srcSet="./images/home/group.png 2x", alt="group")
    section.new 
      .new-option
        .new-option-left 
          each value in ["My Feed","Poplar Feed", "Recent"]
            span.new-option-left-list= value
        .new-option-right 
          label.checkbox(for="checkbox")
            input.checkbox-input(type="checkbox" id="checkbox" name="margen")
            .checkbox-box
              .checkbox-box-cr
          span New Releases & Guests Only
      .new-list
        +new("./images/home/avata/4.png 2x", "./images/home/check.png 2x", "James Killened rated an episude", "./images/home/star.png 2x", "Jun 25th", "./images/home/news/1.png 2x", "Perspective Podcast (Ep. 1)", "Philosophy vs Religion vs Science: Yahia Amin and Sadman Sadik", "Play Philosophy vs Religion vs Science: Perspective Podcast (Ep. 1) | Yahia Amin and Sadman Sadik by PERSPECTIVE with Yahia Amin on desktop and mobile. Play over 265 million tracks for...", "11 dayes ago", "45mins 10 Sec")
        +new("./images/home/avata/2.png 2x", "./images/home/check.png 2x", "James Killened rated an episude", " ", "Jun 25th", "./images/home/news/3.png 2x", "How To & Tips", "UX Design Process: Mental Modeling Framework, How To & Tips", "Nicole is a User Experience Designer passionate about technology startups, cars, education & music. Based in Los Angeles CA., she is a User Experience Designer @ Iconmobile, an award-winning mobile", "11 dayes ago", "45mins 10 Sec")
        +new("./images/home/avata/4.png 2x", "./images/home/check.png 2x", "James Killened rated an episude", " ", "Jun 25th", "./images/home/news/2.png 2x", "Perspective Podcast (Ep. 1)", "I CAN'T DO THIS | Islam and Mental Health | Full Podcast", "The relationship between mental health and faith is a topic that has long been riddled with confusion, debate, and much misconception.", "11 dayes ago", "45mins 10 Sec")
  .right
    section.right-top
      .right-top-top 
        h3.heading Top 8 Podcast
        .view
          span View All
          img(srcSet="./images/home/che.png 2x", alt="icon")
      .right-top-imgs
        each value in ["./images/home/1.png 2x", "./images/home/2.png 2x", "./images/home/3.png 2x", "./images/home/4.png 2x", "./images/home/5.png 2x","./images/home/6.png 2x", "./images/home/7.png 2x", "./images/home/8.png 2x"]
          img(srcSet= value, alt="img").right-top-imgs-img
    section.right-1
      .right-top-top 
        h3.heading Suggested Follows
        .view
          span View All
          img(srcSet="./images/home/che.png 2x", alt="icon")
      .right-1-inf
          +suggest("Yahia Amin", "./images/home/an-1.png 2x",   "@yahiamdamin", "me")
          +suggest("Mufti Menk", "./images/home/an-2.png 2x",   "@muftimenk", "meo")
          +suggest("Omar Suleiman", "./images/home/an-3.png 2x", "@omarsuleiman", "meoo")
          +suggest("Nouman Ali Khan", "./images/home/an-3.png 2x", "@noumanalikhan", "meooo")
    section.right-2 
      .right-top-top 
        h3.heading Listening history
        .view
          span View All
          img(srcSet="./images/home/che.png 2x", alt="icon")
      .right-2-list
        +list("./images/home/1.png 2x", "Perspective with Yahia Amin", "Don't Always Win | LifeSpring", "156", "78")
        +list("./images/home/7.png 2x", "Perspective with Yahia Amin", "Don't Always Win | LifeSpring", "99", "75")
        +list("./images/home/8.png 2x", "Perspective with Yahia Amin", "Don't Always Win | LifeSpring", "200", "112")
    section.right-3 
      .right-top-top 
        h3.heading Topics
        .view
          span View All
          img(srcSet="./images/home/che.png 2x", alt="icon")
      .right-3-topic
        +topic("./images/home/img-1.png 2x", "./images/home/content-1.png 2x", "761k podcast")
        +topic("./images/home/img-2.png 2x", "./images/home/content-2.png 2x", "760k podcast")
        +topic("./images/home/img-3.png 2x", "./images/home/content-3.png 2x", "781k podcast")
        +topic("./images/home/img-4.png 2x", "./images/home/content-4.png 2x", "891k podcast")
    section.right-4
      .right-top-top 
        h3.heading Currently Playing
      .right-4-topic
        img(src="https://i.pinimg.com/736x/54/1c/0e/541c0e900850e8024d6a50bbe102aeb3.jpg", alt="song").right-4-topic-img 
        .right-4-topic-tistle 
          .right-4-topic-title-1 Don't Always Win | LifeSpring
          .right-4-topic-title-2
            .right-4-topic-title-2-1 Episode 1
            img(src="./images/home/dot.png", alt="dot").right-4-topic-title-2-dot
            .right-4-topic-title-2-2 Yahia Amin
        lable(for="css").right-4-topic-song
          input(type="checkbox" id="css").right-4-topic-song-button
          .right-4-topic-song-click
          
          
        
