.episodes 
  .episodes-top 
      h3.episodes-top-heading Episodes
      .episodes-top-up 
        .episodes-top-up-img 
          img(src=".././images/epides/up.png", alt="icon")
        span.episodes-top-up-text Upload New Episodes
  table.episodes-table
    thead
      tr 
        th
          img(src=".././images/epides/check.png", alt="uncheck_box")
        th 
          span Thumbnail  
        th 
          span Name
        th 
          span Duration
        th 
          span Audio Status
        th 
          span Publish Date
        th 
          span Status
        th 
          span Action
    tbody  