.explore
  .explore-top 
    .heading Explore Topics
    span.explore-top-title Most Popular Podcast Topics
  .explore-bottom
    -for(var n = 0;n < 20; n++)
      +explore(".././disk/images/explore/content.png", "761k podcast")