.playlist 
  .playlist-top
    .playlist-top-right 
      .heading Playlist
      .playlist-top-right-title Hear your own playlists and the playlists you’ve liked 
    .playlist-top-left
      .playlist-top-left-all 
        span ALL 
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M6 9L12 15L18 9" stroke="#A6A7B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      ul.playlist-top-left-list 
        each value in[1,2 , 3, 4]
          li.playlist-top-left-list-item 
            span something
  .playlist-bottom
    each value in[{img:" https://plus.unsplash.com/premium_photo-1661914978519-52a11fe159a7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80", heading: "UIHUT Podcsat",span: "Created on 1 day ago",title: "UIHUT is a design and coding resources platform for designers, developers, and entrepreneurs"}, {img:"https://images.unsplash.com/photo-1691084515122-e4eaf035c93d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80", heading:"Developer Podcast", span: "Created on 2 day ago", title: "The Best Tech Podcasts for Software Developers in 2021."}, {img:"https://images.unsplash.com/photo-1691084515122-e4eaf035c93d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80", heading:"Developer Podcast", span: "Created on 2 day ago", title: "The Best Tech Podcasts for Software Developers in 2021."},  {img:"https://images.unsplash.com/photo-1691084515122-e4eaf035c93d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80", heading:"Developer Podcast", span: "Created on 2 day ago", title: "The Best Tech Podcasts for Software Developers in 2021."},  {img:"https://images.unsplash.com/photo-1691084515122-e4eaf035c93d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80", heading:"Developer Podcast", span: "Created on 2 day ago", title: "The Best Tech Podcasts for Software Developers in 2021."},  {img:"https://images.unsplash.com/photo-1691084515122-e4eaf035c93d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80", heading:"Developer Podcast", span: "Created on 2 day ago", title: "The Best Tech Podcasts for Software Developers in 2021."},  {img:"https://images.unsplash.com/photo-1691084515122-e4eaf035c93d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80", heading:"Developer Podcast", span: "Created on 2 day ago", title: "The Best Tech Podcasts for Software Developers in 2021."},  {img:"https://images.unsplash.com/photo-1691084515122-e4eaf035c93d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80", heading:"Developer Podcast", span: "Created on 2 day ago", title: "The Best Tech Podcasts for Software Developers in 2021."}]
      +playlist(value.img, value.heading, value.span, value.title)
      