*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4285714286;
}

.heading {
  color: #1b1d21;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; /* 150% */
  margin-bottom: 20px;
}

.topbar {
  padding: 24px 56px 24px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f0f3f6;
}
.topbar-search {
  padding: 12px 20px;
  border-radius: 12px;
  background-color: #f0f3f6;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 360px;
          flex: 0 1 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.topbar-search-box {
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  color: #1b1d21;
  caret-color: #6c5dd3;
}
.topbar-search-box::-webkit-input-placeholder {
  color: #a6a7b2;
}
.topbar-search-box::-moz-input-placeholder {
  color: #a6a7b2;
}
.topbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.topbar-right-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  border-radius: 8px;
  padding: 12px 16px;
  background-color: #6c5dd3;
  color: #fcfcfc;
}
.topbar-right-pro {
  width: 48px;
  height: 48px;
}
.topbar-right-pro img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 100rem;
}

.sidebar {
  padding: 48px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #f0f3f6;
}

.sidebar-logo {
  margin-bottom: 44px;
}

.menu {
  margin-bottom: 26px;
  padding-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.menu-item {
  padding: 8px 30px 8px 20px;
  border-radius: 12px;
}
.menu-item:hover {
  background-color: #7141ef;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.menu-item:hover span {
  color: #ffffff;
}
.menu-item:hover [fill^="#E5"] {
  fill: #f8f8f8;
  opacity: 1;
}
.menu-item:hover [fill^="#A5"] {
  fill: #a79ee5;
}
.menu-heading {
  padding: 0 21px;
  margin-bottom: 10px;
  color: #8494ab;
  font-size: 13px;
  line-height: 146.154%;
  font-weight: 400;
}
.menu:not(:last-child) {
  border-bottom: 1px solid #e9eef4;
}
.menu-text {
  color: #8494ab;
  font-weight: 500;
  line-height: 142.857%; /* 142.857% */
}

.wraper {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 256px 1fr;
  min-height: 100vh;
}

.explore {
  padding: 40px 60px 150px 60px;
}
.explore-top {
  margin-bottom: 40px;
}
.explore-top-title {
  color: #a6a7b2;
  font-size: 14px;
  font-weight: 500;
  line-height: 142.857%; /* 142.857% */
}
.explore-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}
.explore-bottom-box {
  cursor: pointer;
  position: relative;
  height: 86px;
  border-radius: 10px;
  background-color: #1b1d21;
  background: url("https://images.unsplash.com/photo-1513682121497-80211f36a7d3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=388&q=80");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.explore-bottom-box-retangle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.explore-bottom-box-top {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  line-height: 146.667%; /* 146.667% */
  z-index: 2;
}
.explore-bottom-box-bottom {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 146.154%; /* 146.154% */
  z-index: 2;
}