.podcast
  .heading Trending Podcast
  .podcast-list
    +podcast("./images/trending/img.png 2x", "Don't Always Win | LifeSpring", "Podcast Episode - 1", "Yahia Md Amin (Chairman - LifeSpring Limited )")
    +podcast("./images/trending/img.png 2x", "Don't Always Win | LifeSpring", "Podcast Episode - 1", "Yahia Md Amin (Chairman - LifeSpring Limited )")
    +podcast("./images/trending/img.png 2x", "Don't Always Win | LifeSpring", "Podcast Episode - 1", "Yahia Md Amin (Chairman - LifeSpring Limited )")