extends ./views/layouts/dashboard.pug
include ./views/mixins/mixin.pug
append styleSheet 
  link(rel="stylesheet", href=".././styles/explore.css")
block tittle 
  title GoCast-UI - Explore
block main
  include ./views/module/explore/explore-items.pug