extends ./views/layouts/dashboard.pug
include ./views/mixins/mixin.pug
append styleSheet 
  link(rel="stylesheet", href=".././styles/home.css")
block tittle 
  title GoCast-UI - Homepage
block main
  .left 
    include ./views/module/home/popular.pug
    include ./views/module/home/trending.pug
    include ./views/module/home/new.pug
  .right
    include ./views/module/home/right-top.pug
    include ./views/module/home/right-1.pug
    include ./views/module/home/right-2.pug
    include ./views/module/home/right-3.pug
    include ./views/module/home/right-4.pug
          
        
