extends ./views/layouts/dashboard.pug
include ./views/mixins/mixin.pug
append styleSheet 
  link(rel="stylesheet", href=".././styles/sub.css")
block tittle 
  title GoCast-UI - Subscriptions
block main
  include ./views/module/sub/sub-top.pug
  include ./views/module/sub/sub-bottom.pug