extends ./views/layouts/dashboard.pug
include ./views/mixins/mixin.pug
append styleSheet 
  link(rel="stylesheet", href=".././disk/styles/sub.css")
block tittle 
  title GoCast-UI - Subscriptions
block main