@use "../abstracts" as abs;
.main{
  container-type: inline-size;
  container-name: content-container;
}
.popular{
  container-type: inline-size;
  container-name: popular-container;
}
.content {
  padding: 30px 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 60px;
  @container content-container (max-width: 990.8px) {
    display: block;
    padding: 10px 24px;
  }
}
.left section {
  margin-bottom: 30px;
  @media screen and (max-width: 1023.8px){
    margin-bottom: 14px;
  }
}
.right section {
  margin-bottom: 40px;
  @media screen and (max-width: 1023.8px){
   margin-bottom: 25px;
  }
}
.popular-hosts {
  padding-left: 7px;
  @container popular-container (max-width:627px){
    height:97px;
  }
  container-type: inline-size;
  container-name: popular-hosts-container;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 31px;
  padding-top: 6px;
  @media screen and (max-width: 1023.8px) {
    gap: 16.7px;
    overflow-x: auto;
    grid-template-columns: repeat(7, 1fr);
  }
  &-list {
    @include abs.fl(center, center, 7px);
    @media screen and (max-width: 1023.8px) {
      gap: 6px;
    }
    flex-direction: column;
    &-name {
      color: abs.$gray-1;
    }
    &-avata {
      width: 70px;
      height: 70px;
      border-radius: 100rem;
      box-shadow: 0 0 0 4px white, 0 0 0 6px pink;
      background-color: pink;
      flex: 0;
    }
    @container popular-hosts-container (max-width: 644.8px){
      width: 60px;
      height: 87px;
    }
  }
}
.trending {
  container-type: inline-size;
  container-name: container-trending;
  position: relative;
  height: 302px;
  & .heading {
    padding-top: 20px;
    margin-bottom: 11px;
  }
  &-banner {
    position: relative;
    background-color: abs.$natural-1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 18px;
    &-heading {
      font-size: 22px;
      font-weight: 600;
      line-height: 145.455%; /* 145.455% */
      margin-bottom: 11px;
      color: abs.$black-1;
    }
    &-title {
      @include abs.fl(start, flex-start, 4px);
      flex-direction: column;
      margin-bottom: 20px;
      color: abs.$natural;
      @media screen and (max-width: 1023.8px){
        width: 262px;
      }
    }
    &-button {
      @include abs.fl(center, center, 8px);
      padding: 8px 14px;
      background-color: abs.$primary;
      border-radius: 8px;
      box-shadow: 0px 16px 24px 0px rgba(108, 93, 211, 0.1);
      color: abs.$neutral-1;
      & img {
        width: 24px;
        height: 24px;
        padding: 2px;
      }
    }
    &-vector{
      position: absolute;
      top: 36px;
      right: 76px;
      @media screen and (max-width: 1023.8px) {
        right: 22px;
        top: 60px;
      }
      
    }
    &-frame{
      position: absolute;
      bottom: 0;
      right: 237px;
      @media screen and (max-width: 1023.8px) {
        right: 15px;
        }
    }
  }
  &-group {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }
  &-img {
    position: absolute;
    bottom: 0;
    right: 15px;
    z-index: 2;
  }
  @container container-trending (max-width: 620px){
    &-group{
      display : none;
    }
    .trending-img{
      display: none;
    }
    .trending-banner-button{
      padding: 6px 8px;
    }
  }
  @container container-trending (max-width: 800px){
    .trending-banner-heading{
      max-width: 370px;
    }
  }
}
.heading-1{
  background-image: abs.$gradient;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.new {
  container-type: inline-size;
  container-name: new-container;
  &-option {
    @include abs.fl(space-between, center, 0);
    margin-bottom: 40px;
    &-left {
      @include abs.fl(center, center, 0);
      &-list {
        white-space:nowrap;
        padding: 10px;
        color: abs.$gray-1;
        font-weight: 500;
        border-bottom: 1px solid abs.$bg-3;
        @media screen and (max-width: 1023.8px){
          font-size: 13px;
          line-height: 1.38;
        }
      }
      &-list.is-active{
        color: abs.$primary;
        font-weight: 600;
        border-bottom: 1px solid abs.$primary;
        cursor: pointer;
      }
    }
    &-right {
      @include abs.fl(center, center, 10px);
      & span {
        color: abs.$gray-1;
        font-weight: 500;
      }
      @container new-container (max-width: 480px){
        span{
          display: none;
        }
      }
    }
  }
}
.new-list {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 30px;
}
.news {
  container-type: inline-size;
  container-name: new-container;
  border-radius: 10px;
  border: 1px solid abs.$natural-2;
  &-top {
    padding: 20px;
    border-bottom: 1px solid abs.$natural-2;
    @include abs.fl(space-between, center, 0);
    &-box{
      @include abs.fl(flex-start, center, 16px);
    }
    &-img {
      position: relative;
      width: 48px;
      height: 48px;
      border-radius: 100rem;
      &-main {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: pink;
      }
      &-no {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(4px);
      }
    }
    &-text {
      @include abs.fl(flex-start, start, 4px);
      flex-direction: column;
      &-name {
        @include abs.fl(center, center, 10px);
        color: abs.$gray-2;
        font-weight: 500;
        &-1{
          @media screen and (max-width: 1023.8px){
            display: flex;
            flex-direction: column;
            gap: 2px;
          }
          &-name{
            color: abs.$black-1;
          }
        }
        @media screen and (max-width: 1023.8px){

          gap: 6px;
        }
        &-2{
          transform: translateY(100%);
        }
      }
      &-date {
        color: abs.$gray-2;
      }
    }
  }
  &-content {
    @container new-container (max-width: 588.8px){
        flex-direction: column;
    }
    position: relative;
    border-bottom: 1px solid abs.$natural-2;
    padding: 20px;
    @include abs.fl(center, center, 20px);
    &-img {
      @container new-container (max-width: 588.8px){
        width: 100%;
        height: 200px;
    }
      width: 152px;
      height: 152px;
      border-radius: 10px;
      flex-shrink: 0;
    }
    &-more {
      @include abs.fl(flex-start, start, 0);
      flex-direction: column;
    }
  }
  &-footer {
    padding: 20px;
    @include abs.fl(space-between, center, 0);
    &-left {
      @include abs.fl(center, center, 19px);
    }
    &-right {
      @include abs.fl(center, center, 8px);
      padding: 8px 14px;
      border-radius: 8px;
      background-color: abs.$primary;
      & span {
        color: abs.$neutral-1;
      }
      & img {
        width: 15px;
        height: 15px;
      }
    }
  }
}
.more-1 {
  margin-bottom: 6px;
}
.more-1,
.time-1,
.time-2 {
  color: abs.$gray-2;
}
.more-2 {
  color: abs.$black-1;
  font-weight: 500;
  margin-bottom: 12px;
}
.more-4 {
  color: abs.$black-1;
  font-size: 13px;
  line-height: 146.154%;
}
.more-3 {
  margin-bottom: 16px;
  color: abs.$gray-2;
  @include abs.fl(flex-start, center, 10px);
  &-date {
    @include abs.fl(flex-start, center, 4px);
  }
  &-time {
    @include abs.fl(flex-start, center, 4px);
  }
}
.more-5 {
  position: absolute;
  top: 20px;
  right: 20px;
  @media screen and (max-width: 1023.8px) {
    display: none;
  }
}
.right {
  container-type: inline-size;
  container-name: right-container;
  & .heading {
    margin-bottom: 0;
  }
  &-top {
    margin-bottom: 40px;
    &-top {
      @include abs.fl(space-between, center, 0);
      margin-bottom: 20px;
    }
    &-imgs {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      @container right-container (max-width: 1024px) and (min-width: 600px){
        grid-template-columns: repeat(6, 1fr);
      }
      & img {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 10px;
        
      }
    }
  }
  &-2-list {
    @include abs.fl(flex-start, start, 16px);
    flex-direction: column;
    &-contain {
      @include abs.fl(flex-start, center, 11px);
      & img {
        width: 109px;
        height: 67px;
        border-radius: 4px;
      }
    }
    &-box {
      @include abs.fl(flex-start, start, 3px);
      flex-direction: column;
      &-1 {
        color: abs.$gray-2;
        font-size: 13px;
        line-height: 146.154%; /* 146.154% */
      }
      &-2 {
        color: abs.$black-1;
        font-size: 15px;
        font-weight: 500;
        line-height: 146.667%; /* 146.667% */
      }
      &-items {
        @include abs.fl(flex-start, center, 16px);
        &-1 {
          @include abs.fl(center, center, 6px);
          color: abs.$gray-2;
          font-size: 13px;
          line-height: 146.154%; /* 146.154% */
          & img {
            width: 16px;
            height: 16px;
          }
        }
        &-2 {
          @include abs.fl(center, center, 6px);
          color: abs.$gray-2;
          font-size: 13px;
          line-height: 146.154%; /* 146.154% */
          & img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
  &-3-topic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 11px;
    &-box {
      position: relative;
      &-img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
      }
      &-content {
        position: absolute;
        bottom: 10px;
        left: 10px;
        & span {
          color: abs.$color-main;
        }
      }
    }
  }
}
.right-1-inf {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 20px;
  &-contain {
    @include abs.fl(space-between, center, 0);
  }
}
.inf-img{
  width: 46px;
  height: 46px;
  border-radius: 6px;
}
.fl {
  &-input {
    display: none;
    &:checked + .fl-box {
      border: 2px solid abs.$icon-color;
      background-color: transparent;
      color: #a5b4cb;
    }
    &:checked + .fl-box::after {
      content: "ed";
    }
  }
  &-box {
    padding: 6px 18px;
    background-color: abs.$primary;
    color: abs.$natural-1;
    font-size: 15px;
    font-weight: 600;
    line-height: 146.667%; /* 146.667% */
    border-radius: 8px;
  }
}
.inf {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  &-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 4px;
    &-name {
      color: abs.$black-1;
      font-size: 15px;
      font-weight: 500;
      line-height: 146.667%; /* 146.667% */
    }
    &-acong {
      color: abs.$gray-2;
      font-size: 13px;
      line-height: 146.154%; /* 146.154% */
    }
  }
}
.view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
