@use "../abstracts" as abs;
.heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 108.333%; /* 108.333% */
  margin-bottom: 14px;
}
.playlist {
  padding: 40px 60px 90px 60px;
  &-top {
    @include abs.fl(space-between, center, 0);
    margin-bottom: 20px;
    &-right-title {
      color: abs.$gray-2;
      font-weight: 500;
    }
    &-left {
      position: relative;
      background-color: abs.$natural-1;
      padding: 10px 23px;
      cursor: pointer;
      width: 173px;
      border-radius: 16px;
      &:hover {
        .playlist-top-left-list {
          opacity: 1;
          visibility: visible;
        }
        background-color: abs.$primary;
        .playlist-top-left-all {
          color: abs.$neutral-1;
          [fill^="#A6"] {
            fill: abs.$natural-1;
          }
        }
      }
      &-all {
        @include abs.fl(space-between, center, 0);
        color: abs.$gray-2;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 146.667%; /* 146.667% */
      }
      &-list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        color: abs.$gray-2;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 146.667%;
        opacity: 0;
        visibility: hidden;
        background-color: abs.$natural-1;
        border-radius: 16px;
        &-item {
          display: flex;
          justify-content: center;
          border-radius: inherit;
          &:hover {
            background-color: abs.$primary;
            color: abs.$neutral-1;
          }
        }
      }
    }
  }
  &-bottom {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    &-box {
      height: 158px;
      padding: 14px 20px;
      @include abs.fl(space-between, center, 20px);
      box-shadow: -10px 24px 35px 0px rgba(227, 230, 236, 0.25),
        -1px -3px 14px 0px rgba(227, 230, 236, 0.2);
      border-radius: 10px;
    }
    &-img {
      width: 130px;
      height: 130px;
      flex-shrink: 0;
      border-radius: 10px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    &-content {
      @include abs.fl(flex-start, flex-start, 12px);
      flex-direction: column;
      &-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &-heading {
          color: abs.$black-1;
          font-size: 16px;
          font-weight: 500;
          line-height: 150%; /* 150% */
        }
        &-date {
          color: abs.$gray-1;
          font-size: 13px;
          font-weight: 400;
          line-height: 146.154%; /* 146.154% */
        }
      }
      &-mid {
        color: abs.$gray-1;
        font-size: 13px;
        font-weight: 400;
        line-height: 146.154%; /* 146.154% */
      }
    }
  }
}
