@use "../abstracts" as abs;
.button{
   background-color: abs.$primary;
   padding: 8px 14px;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   &-img{
      display: inline;
   }
   &-text{
    color: abs.$neutral-1;
    font-size: 14px;
    font-weight: 500;
    line-height: 142.857%; /* 142.857% */
   }
} 
@media screen and (max-width: 750px) {
   .button
   {display: none;}
}