section.popular 
      h3.heading Popular Hosts
      .popular-hosts 
        each value in [{name: "Thomas", img: ".././disk/images/home/avata/1.png "}, {name: "Darrell", img: ".././disk/images/home/avata/1.png "}, {name: "Arlene", img: ".././disk/images/home/avata/1.png "}, {name: "Kristin", img: ".././disk/images/home/avata/1.png "}, {name: "Courtney", img: ".././disk/images/home/avata/1.png "}, {name: "Cody", img: ".././disk/images/home/avata/1.png "}, {name: "Arlene", img: ".././disk/images/home/avata/1.png "}]
          +host(value.name, value.img)