section.right-2 
  .right-top-top 
    h3.heading Listening history
    .view
      span View All
      img(srcSet=".././disk/images/home/che.png 2x", alt="icon")
  .right-2-list
    +list(".././disk/images/home/1.png 2x", "Perspective with Yahia Amin", "Don't Always Win | LifeSpring", "156", "78")
    +list(".././disk/images/home/7.png 2x", "Perspective with Yahia Amin", "Don't Always Win | LifeSpring", "99", "75")
    +list(".././disk/images/home/8.png 2x", "Perspective with Yahia Amin", "Don't Always Win | LifeSpring", "200", "112")