section.right-3 
  .right-top-top 
    h3.heading Topics
    .view
      span View All
      img(srcSet=".././disk/images/home/che.png 2x", alt="icon")
  .right-3-topic
    +topic(".././disk/images/home/img-1.png 2x", ".././disk/images/home/content-1.png 2x", "761k podcast")
    +topic(".././disk/images/home/img-2.png 2x", ".././disk/images/home/content-2.png 2x", "760k podcast")
    +topic(".././disk/images/home/img-3.png 2x", ".././disk/images/home/content-3.png 2x", "781k podcast")
    +topic(".././disk/images/home/img-4.png 2x", ".././disk/images/home/content-4.png 2x", "891k podcast")