section.right-1
  .right-top-top 
    h3.heading Suggested Follows
    .view
      span View All
      img(srcSet=".././images/home/che.png 2x", alt="icon")
  .right-1-inf
      +suggest("Yahia Amin", ".././images/home/an-1.png 2x",   "@yahiamdamin", "me")
      +suggest("Mufti Menk", ".././images/home/an-2.png 2x",   "@muftimenk", "meo")
      +suggest("Omar Suleiman", ".././images/home/an-3.png 2x", "@omarsuleiman", "meoo")
      +suggest("Nouman Ali Khan", ".././images/home/an-3.png 2x", "@noumanalikhan", "meooo")