section.trending 
  h3.heading Trending
  .trending-banner
    h2.trending-banner-heading UX Design Process: Mental Modeling Framework.  
    .trending-banner-title 
      span Podcast Episode - 1
      span Thomas L. Fletcher ( Product Designer at UIHUT )
    button.trending-banner-button(type="button") 
      img(srcSet=".././images/home/play-1.png 2x", alt="icon")
      span Play Now
    img.trending-img(srcSet=".././images/home/image.png 2x", alt="casi")
    img.trending-banner-vector(src=".././images/home/vector.png", alt="vector")
    img.trending-banner-frame(src=".././images/home/frame.png", alt="cr")
  img.trending-group(srcSet=".././images/home/group.png 2x", alt="group")