.footer 
  .footer-more
    img(src=".././images/menu.png", alt="icon")
  .footer-search 
    img(src=".././images/search.png", alt="icon")
  .footer-up 
    img(src=".././images/Button.png", alt="icon")
  .footer-mess 
    img(src=".././images/mess.png", alt="icon")
  .footer-noti
    img(src=".././images/noti.png", alt="icon")