.topbar 
  a.topbar-logo(href="#")
    img(srcSet=".././images/logo.png 2x", alt="logo") 
  .topbar-search 
    img(src=".././images/search.png", alt="icon").topbar-search-icon
    input(type=text  placeholder="Search 2+ million podcasts and listeners").topbar-search-box
  .topbar-right
    button.topbar-right-upload  
      img(src=".././images/upload.png", alt="icon")
      span Upload 
    a(href="#").topbar-right-mess
      img(src=".././images/mess.png", alt="icon")
    a(href="#").topbar-right-noti
      img(src=".././images/noti.png", alt="icon")
    a(href="#").topbar-right-pro
      img(src="https://images.unsplash.com/photo-1540875716262-8c2b2c4c00ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80", alt="profied")
