.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
}
@media screen and (max-width: 1007px) {
    .footer{
      display: flex;
    }
}