@use "../abstracts" as abs;
// .main{
//   position: relative;
// }
.wraper {
  background-color: abs.$color-main;
  display: grid;
  grid-template-columns: 256px 1fr;
  min-height: 100vh;
}
@media screen and (max-width: 1023.8px){
  .wraper{
    display: block;
  }
}

