@use "../abstracts" as abs;
.topbar {
  container-type: inline-size;
  container-name: topbar-container;
  padding: 24px 56px 24px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid abs.$natural-2;
  &-logo{
    display: none;
    @container topbar-container (max-width: 480px){
      flex-shrink: 0;
      display: block;
    }
  }
  &-search {
    @container topbar-container (max-width: 480px){
      display: none;
    }
    padding: 12px 20px;
    border-radius: 12px;
    background-color: abs.$natural-2;
    flex: 0 1 360px;
    display: flex;
    align-items: center;
    gap: 12px;
    &-box {
      border: none;
      flex: 1 0 0;
      color: abs.$black-1;
      @include abs.placeholder(abs.$gray-2);
      caret-color: abs.$primary;
    }
  }
  &-right {
    @include abs.fl(space-between, center, 24px);
    &-mess{
      @container topbar-container (max-width: 740px){
        display: none;
      }
    }
    &-noti{
      @container topbar-container (max-width: 740px){
        display: none;
      }
    }
    &-pro {
      width: 48px;
      height: 48px;
      & img {
        @include abs.cover();
        border-radius: 100rem;
      }
    } 
  }
}
.button{
  @container topbar-container (max-width: 740px){
    display: none;
  }
}
