.sub-bottom 
  h3.sub-bottom-heading Latest Episodes
  .sub-bottom-content 
    +latest(".././images/sub/6.png")
    +latest(".././images/sub/7.png")
    +latest(".././images/sub/8.png")
    +latest(".././images/sub/9.png")