.sub-top
  .sub-top-heading 
    h3.sub-top-heading-main Your Subscriptions
    span.sub-top-heading-tittle Hear what the people you follow have posted:
  .sub-top-content 
    +suber(".././images/sub/1.png", "Ralph Edwards", "Psychologist (UK)")
    +suber(".././images/sub/2.png", "Robert Fox", "Psychologist (UK)")
    +suber(".././images/sub/3.png", "Cody Fisher", "Psychologist (UK)")
    +suber(".././images/sub/4.png", "Devon Lane", "Psychologist (UK)")
    +suber(".././images/sub/5.png", "Jane Cooper", "Psychologist (UK)")