section.right-4
  .right-top-top 
    h3.heading Currently Playing
  .right-4-topic
    img(src="https://i.pinimg.com/736x/54/1c/0e/541c0e900850e8024d6a50bbe102aeb3.jpg", alt="song").right-4-topic-img 
    .right-4-topic-tistle 
      .right-4-topic-title-1 Don't Always Win | LifeSpring
      .right-4-topic-title-2
        .right-4-topic-title-2-1 Episode 1
        img(src="./images/home/dot.png", alt="dot").right-4-topic-title-2-dot
        .right-4-topic-title-2-2 Yahia Ami
    label(for="css").right-4-topic-song
      input(type="checkbox" id="css").right-4-topic-song-button
      .right-4-topic-song-click