section.right-top
  .right-top-top 
    h3.heading Top 8 Podcast
    .view
      span View All
      img(srcSet="./images/home/che.png 2x", alt="icon")
  .right-top-imgs
    each value in ["./images/home/1.png 2x", "./images/home/2.png 2x", "./images/home/3.png 2x", "./images/home/4.png 2x", "./images/home/5.png 2x","./images/home/6.png 2x", "./images/home/7.png 2x", "./images/home/8.png 2x"]
      img(srcSet= value, alt="img").right-top-imgs-img